.logout-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #e0969d; /* Red color for logout */
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
  
    &:hover {
      background-color: #c82333; /* Darker red on hover */
      transform: scale(1.05);
    }
  
    &:focus {
      outline: none;
      box-shadow: 0 0 4px rgba(220, 53, 69, 0.5); /* Red focus outline */
    }
  
    &:active {
      background-color: #a71d2a; /* Even darker red on click */
      transform: scale(0.95);
    }
  }