body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .register-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .register-container h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
  }
  
  .register-container label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    color: #555;
  }
  
  .register-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .register-container button {
    width: 100%;
    padding: 10px;
    background-color: rgb(146, 186, 221);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .register-container button:hover {
    background-color: rgb(146, 186, 221);
  }
  
  .register-container .error {
    color: red;
    margin-top: 10px;
  }
  
  .register-container a {
    display: block;
    margin-top: 20px;
    color: rgb(146, 186, 221);
    text-decoration: none;
  }
  
  .register-container a:hover {
    text-decoration: underline;
  }