nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


.burger:hover {
  background-color: #555;
}
.burger {
  position: fixed;
  top: 0; /* Align with the top of the application */
  margin-top: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  z-index: 1000;

  span {
    display: block;
    width: 100%;
    height: 0.25rem;
    background-color: #333; /* Solid color for the burger lines */
    border-radius: 5px;
  }
}

.burger-menu {
  position: fixed;
  top: 0;
  left: 0.7rem;
  width: 175px;
  margin-top:4rem;
  height: 100%;
  background-color: #333; /* Solid background color */
  color: white;
  z-index: 999;
  padding: 0.25rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 1rem 0;

      a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  position: relative;

  .navbar-left-icon {
    position: absolute;
    margin-top: 10rem;
    margin-left: 10rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

.navbar-title {
  flex: none; /* Remove the flex behavior to allow manual positioning */
  margin-left: 3rem; /* Push the title to the right */
  text-align: left; /* Optional: Align the text to the left */
  font-size: 1.5rem;
  margin-top: -0.2rem;
  font-weight: bold;
  color: #333;
}

.navbar-right-icon {
  position: relative; /* Ensure it stays within the navbar */
  font-size: 2rem; /* Increase the size of the icon */
  margin-right: 1rem; /* Add spacing from the right edge */
  margin-top: -1.5rem;
  cursor: pointer; /* Add a pointer cursor for interactivity */
  display: flex;

  a, svg {
    font-size: inherit; /* Ensure the icon inherits the size */
  }
}

}