.chores-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 5px;
  max-height: 15rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  overflow-y: scroll;
  scrollbar-width: none;
  margin-bottom: 2rem;
}

.chores-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

// Span component as a line accross
.break {
  display: block;
  align-self: center;
  width: 75%;
  border: 1px solid black;
  color: black;
}

.chores-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid black;

  svg {
    width: 1.3rem;
    height: 1.3rem;
  }

  &:hover {
    background-color: rgb(72, 129, 178);
  }
}

.chore-container {
  display: flex;
  height: 2.25rem;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding-inline: 0.25rem;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 2rem;

    svg {
      height: 1.3rem;
      width: 1.3rem;
    }
  }

  * {
    margin: 0;
  }
}

.divider {
  display: block;
  align-self: center;
  height: 1.2rem;
  border: 1px solid black;
}

.added-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.25rem;
  align-items: flex-start;
}

button {
  background: none;
  border: none;
  padding: 0;
  color: rgb(72, 129, 178);
}
